html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-size: 18px;
	font-family: 'Lato', sans-serif !important;
	background: #e74c3c;
}

.header {
	h1 {
		text-align: center;
		font-size: 60px;
	}
}

.menuContent {
	.item {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 200px;
		height: 200px;
		border-radius: 200px;
		background: white;
		background: url(../images/1.jpg);
		background-position: center;
		background-size: cover;
		border: 4px solid black;
	}
	#one {
		background: url(../images/1.jpg);
	}
	#two {
		background: url(../images/2.jpg);
	}
	#three {
		background: url(../images/3.jpg);
	}
	#four {
		background: url(../images/4.jpg);
	}
	#five {
		background: url(../images/5.jpg);
	}
	#six {
		background: url(../images/6.jpg);
	}
}